.lott-random-header {
    margin: auto;
    width: 970px;
    height: 100vh;
}

.lott-random-main {
    width: 970px;
    display: flex;
}

.lotto-random-template{
    margin: 10px;
    width: 970px;
    height: 100vh;
}

.lotto-random-header{
    margin: auto;
    width: 100%;
    height: 30px;
    background-color: pink;
    font-style: italic;
    font-size: 20px;
    color: hotpink;
    text-align: center;
    /*border-bottom: 4px solid palevioletred;*/
}

.lotto-random-sidemenu{
    width: 300px;
    height: 600px;
    background-color: white;
    border-top: 4px solid palevioletred;
    border-left: 4px solid palevioletred;
    border-bottom: 4px solid palevioletred;
}

.lotto-random-contents{
    width: 677px;
    height: 600px;
    background-color: white;
    border: 4px solid palevioletred;
    overflow: scroll;
}